
*{
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-image: url(confetti.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-weather{
  position: fixed;
  top:0;
  left: 0;
  padding:10px;
  color:white;
}

.main-wrapper {
  background-color:#0a1e24c5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}


.wrapper {
  background-color: #ffffff;
  padding: 50px 20px;
  border-radius: 5px;
  max-width: 90%;
  width: 700px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  text-align: center;
}

h3 {
  margin:0;
  letter-spacing: 2px;
  font-size: 30px;
  color:#ED4C67;
}

.joke {
  padding:40px auto;
  padding: 30px;
  line-height: 30px;
  max-width: 600px;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.644)

}

.btn {
  background-color: #ED4C67;
  border:0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  color:white;
  padding: 14px 40px;
  cursor: pointer;
  letter-spacing: 2px;
}

.btnScore >* {
  margin: 10px;
  font-size: 25px;
  padding:0;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  

}

/* .btnScore >*:hover{
  
} */

